
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-gray-900 bg-gray-50 selection:bg-orange-100 selection:text-orange-600;
    /* Prevent rubber-banding on iOS */
    overscroll-behavior-y: none;
  }
}

@layer components {
  .font-heading {
    font-family: 'Fredoka', sans-serif;
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  /* PWA Safe Area Utilities */
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }
}

@layer utilities {
    .animate-float-slow {
        animation: float 8s ease-in-out infinite;
    }
    .animate-float-medium {
        animation: float 6s ease-in-out infinite;
    }
    .animate-float-fast {
        animation: float 4s ease-in-out infinite;
    }

    @keyframes float {
        0%, 100% { transform: translateY(0) rotate(0deg); }
        50% { transform: translateY(-20px) rotate(5deg); }
    }
}
