services:
  fameats:
    container_name: fameats
    hostname: fameats
    build: .
    restart: unless-stopped
    networks:
      - saltbox
    volumes:
      - ./data:/data
    labels:
      - "com.github.saltbox.saltbox_managed=true"
      - "diun.enable=true"
      - "autoheal=true"
      - "autoheal.stop.timeout=10"
      
      # Traefik Enable
      - "traefik.enable=true"
      
      # HTTP Router (Redirect to HTTPS)
      - "traefik.http.routers.fameats-http.entrypoints=web"
      - "traefik.http.routers.fameats-http.service=fameats-http"
      - "traefik.http.routers.fameats-http.rule=Host(`fameats.shivelymedia.com`)"
      - "traefik.http.routers.fameats-http.priority=20"
      - "traefik.http.routers.fameats-http.middlewares=globalHeaders@file,redirect-to-https@docker,robotHeaders@file"
      
      # HTTPS Router
      - "traefik.http.routers.fameats.entrypoints=websecure"
      - "traefik.http.routers.fameats.service=fameats"
      - "traefik.http.routers.fameats.rule=Host(`fameats.shivelymedia.com`)"
      - "traefik.http.routers.fameats.priority=20"
      - "traefik.http.routers.fameats.tls.certresolver=cfdns"
      - "traefik.http.routers.fameats.tls.options=securetls@file"
      # Note: 'authelia@docker' is excluded to allow the app to sync without session cookies
      - "traefik.http.routers.fameats.middlewares=globalHeaders@file,secureHeaders@file,robotHeaders@file"
      
      # Service Port Definition (Internal Container Port)
      - "traefik.http.services.fameats-http.loadbalancer.server.port=3000"
      - "traefik.http.services.fameats.loadbalancer.server.port=3000"

networks:
  saltbox:
    external: true